server {
    server_name {{ hostname }};
    access_log /var/log/nginx/{{ hostname }}-access.log;
    error_log /var/log/nginx/{{ hostname }}-error.log;
    root {{ document_root }};

    location / {
        index index.html index.htm index.php;
    }

    location ~* \.php$ {
        fastcgi_pass unix:/run/php/php{{php_ver}}-fpm.sock;
        include         fastcgi_params;
        fastcgi_index index.php;
        fastcgi_param   SCRIPT_FILENAME    $document_root$fastcgi_script_name;
        fastcgi_param   SCRIPT_NAME        $fastcgi_script_name;
    }
}
